<div class="jumbotron">

  <h1>Your Custom Fields</h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <table class="table">
        <thead>
          <th>Name</th>
          <th>Type</th>
        </thead>
        <tbody>
          <% @custom_field.each do |c| %>
          <tr>
            <td> <%= c.name %> </td>
            <td> <%= c.style %> </td>
            <td> <%= link_to "Edit", edit_user_custom_field_path(session_logged_user.id, c.id) %> </td>
            <td> <%= link_to "Delete", user_custom_field_path(session_logged_user.id, c.id), method: "delete", data: { confirm: "Are you sure?" } %> </td>
          <tr>
          <% end %>
        </tbody>
      </table>
        <p><%= link_to "Add new custom field", new_user_custom_field_path(session_logged_user), class: "btn btn-lg btn-success" %></p>
    </div>
  </div>
</div>
